.card {
  padding: 12em;
}

.nav {
  /* height: 3rem; */
  font-size: 1.5rem;
  
  background-color: #FE5F55;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-x: auto;

  /* center content */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* /center content */
  z-index: 1;
}
.main-container {
  
  width: 100%;
}
.main {
  background-color: rgb(163, 220, 255);
  height: calc(100vh - 3rem);
  margin-bottom: 3rem;
  overflow-y: auto;
  box-sizing: border-box;

  /* center content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* /center content */
}

aside {
  display: none;
  width: 90vw;
  height: 90vh;
  background-color: #c59996;
  position: fixed;
  top: auto;
  left: auto;
  z-index: 1;
}