.modal {
  background: #eebbbbde;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: auto;
  left: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .modal-content {
    margin: auto;
    width: 70vw;
    height: 80vh;
    background-color: #E8D5B8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    .modal-user-content {
      background-color: chocolate;
      flex-grow: 1;
    }
    
    .modal-footer {
      height: 3rem;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      button {
        padding: .5rem;
        width: 5rem;
      }
    }
  }
}